<div class="col-xs-12 col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <strong>
                        <a href="javascript:;">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            All Saved Question
                        </a>
                    </strong>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <strong>Task1 Completion</strong>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="javascript:;" id="cancel" class="btn">Cancel</a>
                    <button type="button" id="save" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="row form-group">
                    <label for="name" class="col-xs-12 col-sm-2 pd-tp-0 control-label">Name</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" id="name" class="form-control" placeholder="Example question" value="{{name}}"/>
                        <p class="help-block">120 Characters or less</p>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="prompt" class="col-xs-12 col-sm-2 pd-tp-0 control-label">prompt</label>
                    <div class="col-xs-12 col-sm-8">
                        <textarea id="prompt" class="form-control"
                                  placeholder="How would you categorize this question?">{{prompt}}</textarea>
                        <p class="help-block">1,020 Characters or less</p>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="source" class="col-xs-12 col-sm-2 pd-tp-0 control-label">Source</label>
                    <div class="col-xs-12 col-sm-8">
                        <span id="source">{{source}}</span>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="type_id" class="col-xs-12 col-sm-2 pd-tp-0 control-label">Type</label>
                    <div class="col-xs-12 col-sm-4">
                        <select id="type_id" class="form-control" data-type="select">
                            <option value="1">Categorical</option>
                            <option value="2">Rating Scale</option>
                            <option value="3">Time</option>
                            <option value="4">Open Ended</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="num_responses" class="col-xs-12 col-sm-2 pd-tp-0 control-label">Number of Responses</label>
                    <div class="col-xs-12 col-sm-10">
                        <span id="num_responses">{{num_responses}}</span>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-xs-12 col-sm-2 pd-tp-0 control-label">Sample size</label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="sample_size_method" value="participants"/>
                                Participants
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="sample_size_method" value="responses"/>
                                Responses
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="sample_size_method" value="presentations"/>
                                Presentations
                            </label>
                        </div>
                        <ul class="help-block">
                            <li>Total number of unique participants in the study</li>
                            <li>Total number of responses to this question</li>
                            <li>Number of unique participants who gave a response (even empty)</li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>